.container{
    background-color: black;
    width: 60px;
    margin:100px auto;
    align-items: center;
    /* padding: 10px; */
    position: relative;
    display:flex ;
    flex-direction: column;

    
}
.red{
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height:50px;
  margin-bottom: 10px;
}
.green{
   background-color: green;
   border-radius: 50%;
   width: 50px;
  height:50px;
  margin-bottom: 10px;
}
.yellow{
    background-color: yellow;
    border-radius: 50%;
    width: 50px;
    height:50px;
    margin-bottom: 10px;
}
 .red:hover{
   box-shadow: 1px 1px 8px 5px red;
}
.green:hover{
    box-shadow: 1px 1px 8px 5px green;
}
.yellow:hover{
    box-shadow: 1px 1px 8px 5px yellow;
}  
.container::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 321px;
    background-color: black;
    left: 50%;
    top: 100%;
}